
header{
  background:rgb(5, 71, 133);
  top:0;
  left:0;
  right:0;
  position:fixed;
  border-bottom: 2px solid rgb(203, 152, 0);
  overflow:auto;
  padding:12px 24px;
}
.R-buttons{
  float: right;
  margin-top: 15px;
  margin-right: 12px;

}

.reset{
  cursor: pointer;
}

.randomise{
  cursor: pointer;
}

li,.themes{
  float: left;
  display: inline;
  margin-right:5px;
}
.Animals{
  cursor: pointer;

}
.nationalFlags{
  cursor: pointer;

}


body{
  font-family:"monspace" , lucida,  ;
  background-image:url(https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_602x339.jpg);
  font-size:15px;

}

.main-board{
  width:1000px;
  margin-right:  auto ;
  margin-left:  auto ;
  margin-top: 150px;
}

.card{
  height:160px;
  width:90px;
  display: inline-block;
  margin:15px;
  padding:45px ;
  border:1px hidden  rgb(97, 97, 97);
  border-radius:10px;
  background-color: rgb(240, 222, 197);
  cursor: pointer;
  background-size: cover;
}

.cardFaceDown{
  background-image: none !important;
}
